#hereproduct{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 80px;
    color:rgb(192, 31, 31)
}
h6{
    color: rgb(194, 32, 32);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}